@media screen and (min-width: 320px) and (max-width: 600px) {
    
}   

@media screen and (min-width: 601px) and (max-width: 900px) {
    
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
    
}

@media screen and (min-width: 1201px) and (max-width: 1800px) {
    
}

@media screen and (min-width: 1801px) {

}