@import "font-faces";
@import "media";

/* Common style */

html {
    body {
        box-sizing: border-box;
        font-family: 'Lato Regular';
        font-size: 16px;

        input {
            caret-color: rgb(95, 165, 252);
        }

        .wrapper {
            margin: 0 auto;
            padding: 0 50px;
            max-width: 1470px;
            box-sizing: border-box;

            .search_flex-container {
                box-sizing: border-box;
                display: flex;
                margin-top: 40px;

                .google_logo {
                    box-sizing: border-box;
                    width: 52px;
                    height: 53px;
                    background: url('../img/google_logo.png') center center no-repeat;
                    background-size: cover;
                    margin-top: 12px;
                    margin-right: 30px;
                    cursor: pointer;
                }

                .google_logo:hover {
                    transition: .3s;
                    opacity: .5;
                }

                .search_input_contaner {
                    box-sizing: border-box;
                    position: relative;
                    width: calc(~"100% - 82px");

                    .search_bar_label {
                        box-sizing: border-box;
                        font-size: 1.5rem;
                        color: rgb(170, 170, 170);
                        line-height: 4.5rem;
                    }

                    #news_search_bar {
                        box-sizing: border-box;
                        font-size: 1.5rem;
                        color: rgb(117, 117, 117);
                        line-height: 4.5rem;
                        outline: none;
                        border: none;
                    }

                    .voice_detector {
                        position: absolute;
                        box-sizing: border-box;
                        width: 22px;
                        height: 37px;
                        background: url('../img/microphone.png') center center no-repeat;
                        background-size: cover;
                        right: 0;
                        top: 20px;
                    }

                    .voice_detector:hover {
                        transition: .3s;
                        cursor: pointer;
                        opacity: .5;
                        transform: rotateY(180deg);
                    }
                }
            }

            .news_holder {
                box-sizing: border-box;

                .news_flex_container {
                    box-sizing: border-box;

                    .trending_news {
                        box-sizing: border-box;
                    }

                    .news_top_results {
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
} 